@font-face {
  font-family: 'Indie Flower';
  src: url(../fonts/IndieFlower-Regular_PLACEHOLDER.ttf);
}
@font-face {
  font-family: 'Itim';
  src: url(../fonts/Itim-Regular.ttf);
}

@media (min-width: 320px) {
  #send {font-size: 8px}
}
@media (min-width: 480px) {
  #send {font-size: 12px}
}
@media (min-width: 640px) {
  #send {font-size: 16px}
}
@media (min-width: 800px) {
  #send {font-size: 20px}
}
@media (min-width: 960px) {
  #send {font-size: 24px}
}
@media (min-width: 1120px) {
  #send {font-size: 28px}
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

#send {
    position: absolute;
    height: 100vh;
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw 10vw;
}

div.column {
    width: calc(30vw - 2em);
    height: calc(100vh - 5.5em);
    margin: 2.5em 1em 0 1em;
    padding: 1.5em 0.5em 0.5em 0.5em;
    border-radius: 1em;
    background-color: #d0d0d0;
    & h1 {
        position: absolute;
        top: 0;
        justify-self: center;
        width: calc(30vw - 3em);
        padding: 0.25em 0;
        border-radius: 1em;
        background-color: #b0b0b0;
        text-align: center;
        font-family: 'Indie Flower', Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5em;
    }
}

div.section {
    height: auto;
    & h2 {
        font-family: 'Itim', Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
    }
}

hr {
    margin: 1em 0 0;
    padding: 0;
}

/* Select Ingredients */

div.ingredbuttons {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
}

img {
    border-radius: 1em;
    background-color: #ffffffc0;
    max-inline-size: 100%;
    block-size: auto;
}

/* Quantity of [ingredient] */

#quantityslider {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1em;
    background: none;
    -webkit-appearance: none;
    appearance: none;
}

#quantityslider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 2em;
    border-radius: 1em;
    /* background: #75ab42; */
    background: var(--slider-bg, #75ab42); 
}

#quantityslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #4a8a40;
}